In [1]:
#!pip install beautifulSoup4

In [2]:
#!pip install requests

In [3]:
import requests

In [4]:
from bs4 import BeautifulSoup

In [20]:
result = requests.get("https://www.cars.com/for-sale/searchresults.action/?dealerType=all&mdId=20800&mkId=20088&page=1&perPage=100&prMx=10000&rd=20&searchSource=PAGINATION&sort=relevance&stkTypId=28881&zc=33602")

In [21]:
#print(result.status_code) ##200 means successful

In [22]:
#print(result.headers)

In [23]:
src = result.content
#print(src)

In [24]:
soup = BeautifulSoup(src,'lxml')

In [25]:
price = []
priceTags = soup.find_all("span", {"class": "listing-row__price"})
for each in priceTags:
    p = each.text
    price.append(p.strip())
print(price)
print(type(price))

['$5,991', '$9,981', '$7,981', '$9,550', '$4,598', '$7,995', '$9,990', '$4,998', '$7,890', '$3,000', '$8,910', '$9,599', '$4,966', '$3,998', '$9,998', '$5,999', '$7,995', '$6,500', '$6,809', '$9,874', '$3,200', '$2,550', '$9,330', '$3,900', '$2,500', '$3,700', '$5,999', '$8,296', '$4,595', '$7,995', '$5,900', '$6,999', '$2,800', '$9,991', '$4,995']
<class 'list'>

In [26]:
title = []
titleTags = soup.find_all("h2")
for each in titleTags:
    t = each.text
    if(("Dealership" not in t)):
        title.append(t.strip())
print(title)
print(type(title))

['2010 Toyota Camry LE', '2012 Toyota Camry SE', '2012 Toyota Camry L', '2008 Toyota Camry XLE', '2009 Toyota Camry XLE', '2011 Toyota Camry XLE', '2012 Toyota Camry SE', '2004 Toyota Camry LE', '2011 Toyota Camry', '2004 Toyota Camry LE V6', '2011 Toyota Camry LE', '2008 Toyota Camry LE', '2009 Toyota Camry LE', '2000 Toyota Camry LE', '2009 Toyota Camry LE', '2007 Toyota Camry CE', '2006 Toyota Camry XLE V6', '2007 Toyota Camry SE', '2008 Toyota Camry LE', '2013 Toyota Camry L', '2004 Toyota Camry XLE', '2001 Toyota Camry CE', '2015 Toyota Camry SE', '2002 Toyota Camry XLE', '2005 Toyota Camry XLE', '1994 Toyota Camry LE', '2005 Toyota Camry LE V6', '2009 Toyota Camry SE', '2010 Toyota Camry LE', '2007 Toyota Camry XLE', '2008 Toyota Camry LE', '2011 Toyota Camry SE', '2009 Toyota Camry LE', '2013 Toyota Camry SE', '2009 Toyota Camry LE']
<class 'list'>

In [27]:
mileage = []
mileTags = soup.find_all("span", {"class": "listing-row__mileage"})
for each in mileTags:
    m = each.text
    mileage.append(m.strip())
print(mileage)

['216,536 mi.', '80,675 mi.', '138,253 mi.', '87,460 mi.', '214,116 mi.', '142,133 mi.', '103,427 mi.', '147,538 mi.', '144,974 mi.', '166,500 mi.', '106,494 mi.', '114,187 mi.', '186,076 mi.', '132,078 mi.', '115,098 mi.', '78,288 mi.', '64,260 mi.', '122,952 mi.', '100,665 mi.', '93,068 mi.', '184,000 mi.', '177,000 mi.', '132,613 mi.', '150,827 mi.', '183,000 mi.', '50,000 mi.', '86,059 mi.', '84,328 mi.', '226,000 mi.', '98,655 mi.', '116,435 mi.', '76,317 mi.', '138,400 mi.', '93,200 mi.', '104,266 mi.']

In [28]:
color = []
liTags = soup.find_all("li")
for each in liTags:
    strong = each.find_all("strong")
    if (strong != []):
        for s in strong:
            if("Ext. Color:" in s.text):
                col=each.text.split("\n")[3]
                color.append(col.strip())

In [29]:
transmission = []
liTags = soup.find_all("li")
for each in liTags:
    strong = each.find_all("strong")
    if (strong != []):
        for s in strong:
            if("Transmission:" in s.text):
                auto=each.text.split("\n")[3]
                transmission.append(auto.strip())

In [30]:
import pandas as pd
df = pd.DataFrame(title, columns = ['Title'])
df["Price"] = price
df["Mileage"] = mileage
df["Transmission"] = transmission
df["Color"] = color
print(df)

                       Title   Price      Mileage Transmission   Color
0       2010 Toyota Camry LE  $5,991  216,536 mi.    Automatic   Black
1       2012 Toyota Camry SE  $9,981   80,675 mi.    Automatic     Red
2        2012 Toyota Camry L  $7,981  138,253 mi.    Automatic     Red
3      2008 Toyota Camry XLE  $9,550   87,460 mi.    Automatic    Gold
4      2009 Toyota Camry XLE  $4,598  214,116 mi.    Automatic   Black
5      2011 Toyota Camry XLE  $7,995  142,133 mi.    Automatic   White
6       2012 Toyota Camry SE  $9,990  103,427 mi.    Automatic   White
7       2004 Toyota Camry LE  $4,998  147,538 mi.    Automatic  Silver
8          2011 Toyota Camry  $7,890  144,974 mi.    Automatic   Beige
9    2004 Toyota Camry LE V6  $3,000  166,500 mi.    Automatic    Gray
10      2011 Toyota Camry LE  $8,910  106,494 mi.    Automatic   White
11      2008 Toyota Camry LE  $9,599  114,187 mi.    Automatic   Black
12      2009 Toyota Camry LE  $4,966  186,076 mi.    Automatic  Silver
13      2000 Toyota Camry LE  $3,998  132,078 mi.    Automatic   Black
14      2009 Toyota Camry LE  $9,998  115,098 mi.    Automatic   White
15      2007 Toyota Camry CE  $5,999   78,288 mi.    Automatic  Silver
16  2006 Toyota Camry XLE V6  $7,995   64,260 mi.    Automatic  Silver
17      2007 Toyota Camry SE  $6,500  122,952 mi.    Automatic    Gray
18      2008 Toyota Camry LE  $6,809  100,665 mi.    Automatic    Gray
19       2013 Toyota Camry L  $9,874   93,068 mi.    Automatic    Blue
20     2004 Toyota Camry XLE  $3,200  184,000 mi.    Automatic    Blue
21      2001 Toyota Camry CE  $2,550  177,000 mi.    Automatic    Gray
22      2015 Toyota Camry SE  $9,330  132,613 mi.    Automatic    Gray
23     2002 Toyota Camry XLE  $3,900  150,827 mi.    Automatic   Black
24     2005 Toyota Camry XLE  $2,500  183,000 mi.    Automatic    Gold
25      1994 Toyota Camry LE  $3,700   50,000 mi.    Automatic   Green
26   2005 Toyota Camry LE V6  $5,999   86,059 mi.    Automatic     Red
27      2009 Toyota Camry SE  $8,296   84,328 mi.    Automatic    Gray
28      2010 Toyota Camry LE  $4,595  226,000 mi.    Automatic   Green
29     2007 Toyota Camry XLE  $7,995   98,655 mi.    Automatic  Silver
30      2008 Toyota Camry LE  $5,900  116,435 mi.    Automatic    Blue
31      2011 Toyota Camry SE  $6,999   76,317 mi.    Automatic   Black
32      2009 Toyota Camry LE  $2,800  138,400 mi.    Automatic    Blue
33      2013 Toyota Camry SE  $9,991   93,200 mi.    Automatic   Other
34      2009 Toyota Camry LE  $4,995  104,266 mi.    Automatic    Blue

In [41]:
import csv
f = open("C:/Users/Priyanka/Documents/0. USF/3. Marketing Analytics/Project 1/Book1.csv", 'w')

#String[] entries = "first*second*third".split("*");
for row in df:
    wr = csv.writer(f)
    wr.writerow(row)
f.close()